# Log files
*.log
# Configuration files
/admin/configuration.php
configuration*.php
/login/*client_string*.json
# Git and vs Code files
*.lock
/.VSCodeCounter
/.vscode
# Files for testing
test*.*
/test/*
# If the user deletes the installer folder
/install/*