AddHandler application/x-httpd-php74 .php

RewriteEngine ON
RewriteCond %{REQUEST_URI} !=*/Errors/*
RewriteCond %{REQUEST_URI} !=*/admin/*
RewriteCond %{REQUEST_URI} !=*/install/*
RewriteCond %{REQUEST_URI} !=*/lang/*
RewriteCond %{REQUEST_URI} !=*/login/*
RewriteCond %{REQUEST_URI} !=*/phpapi/*
RewriteCond %{REQUEST_URI} !=*/siteelements/*
RewriteCond %{REQUEST_URI} !=*/styles/*
RewriteRule  .* /page.php?URL=/$0

ErrorDocument 404 /Errors/404.html
ErrorDocument 403 /Errors/403.html
